section{
    box-shadow: 2px 2px 20px 5px #AAA;
    margin: 1em 0;
    display: flex;
    height: 100%;
    cursor: pointer;
}
section:hover{
    box-shadow: 1px 1px 10px 1px;
    -webkit-transition: all 0.2s cubic-bezier(0, 1.2, 1, 1) 0.1s;
    -moz-transition: all 0.2s cubic-bezier(0, 1.2, 1, 1) 0.1s;
    transition: all 0.2s cubic-bezier(0, 1.2, 1, 1) 0.1s;
}
.title{
    font-weight: bold;
}

.bottom-bar{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    margin: 10px;
}

.genre{
    display: inline-block;
    padding: 3px 10px;
    border-radius: 10px 0px 0px 10px;
    background: dodgerblue;
    color: white;
}
.director {
    display: inline-block;
    font-weight: bold;
    padding: 3px 10px;
    text-align: right;
    align-self: flex-end;
    margin-left: auto;
}
.director::before{
    content: "-";
    color: #777;
}

.img-container{
    padding-left: 0;
}


 
